* {
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-item {
    color: yellow;
}

#sec1 {
    color: white;
    background: url(../Images/bgsec1.png) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
}

.seclogo {
    width: 10%;
    margin-top: 1.5rem;
}

.video iframe {
    border-radius: 30px;
    margin-top: 4rem;
    /* height: 400px; */
    margin-left: 8%;
    /* box-shadow:   -70px 10px 170px 40px  rgba(0, 136, 255, 0.8); */
    box-shadow: -10px 10px 170px 40px rgba(255, 0, 234, 0.8);
    /* width: 560px;
    height: 315px; */
    width: 35rem;
    height: 20rem;
}

#sec1 h1 {
    line-height: 4rem;
    font-size: 3.3rem;
}

#sec1 p {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Poppins';
}

#inp {
    width: 80%;
    margin: auto;
}

#inp label {
    margin-top: 5px;
    font-size: 1.2rem;
}

#inp input::placeholder {
    /* color: rgb(232, 88, 205); */
    color: rgb(59, 58, 58);
    text-align: center;
}

#inp input {
    text-align: center;
    border-radius: 5px;
    border: none;
    border: 2px solid rgb(214, 213, 207);
    /* color:rgb(232, 88, 205); */
    color: black;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(12, 12, 254, 0.3), rgba(226, 43, 192, 0.4));
}

#inp .form-select {
    color: rgb(226, 43, 192);
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: rgb(171, 82, 255);
}

#inp .form-select option {
    background-color: rgb(226, 43, 192, 0.7);
    font-size: 1.1rem;
}

#inp .btn {
    /* background-color:rgb(232, 48, 198); */
    background-image: linear-gradient(to right, rgb(12, 12, 254, 0.8), rgba(226, 43, 192, 01));
    color: white;
    font-weight: 600;
    padding: 10px;
    border: none;
    font-size: 1.2rem;
    margin: auto;

    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px rgb(255, 0, 204);
}

#inp .btn:hover {
    background-image: linear-gradient(to right, rgba(4, 4, 205, 0.8), rgb(227, 3, 186));
}

#sec3 {
    color: white;
    background: url(../Images/sec1.png) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
}

#sec3-text {
    line-height: 3rem;
    font-size: 2.5rem;
    width: 60%;
    margin: auto;
    text-shadow: 1px 1px 2px rgb(255, 0, 238), 0 0 1em rgb(255, 0, 225), 0 0 0.2em rgb(154, 24, 130);
    text-align: justify;
}

#sec2 {
    color: white;
    /* background: url(../Images/sec3.png) no-repeat center center/cover; */
    height: 100vh;
    width: 100%;
    background: url(../Images/sec3.png) no-repeat center center/cover;
}

#sec2 h1 {
    /* color: rgb(226, 43, 192);
     text-shadow: rgb(255, 0, 0) 1px 0 10px;  */
    text-shadow: 1px 1px 2px rgb(255, 0, 238), 0 0 1em rgb(255, 0, 225), 0 0 0.2em rgb(154, 24, 130);

    /* color: rgb(255, 255, 255);
    text-shadow: #FC0 1px 0 10px; */
    width: 100%;
    text-align: center;
}

.social-icon {
    width: 25px;
    margin-left: 5px;
}

footer {
    background-color: rgb(232, 88, 205);
}

.ft-items {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}

.ft-items a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

@media (max-width:768px) {

    .seclogo {
        width: 15%;
        margin-left: 10px;
        margin-top: 1rem;
    }

    #sec3-text {
        padding: 0px;
        margin: auto;
        width: 90%;
        font-size: 1.2rem;
        line-height: 1.3rem;
        margin-top: 1rem;
        font-family: ubuntu;
        text-shadow: 1px 1px 2px rgb(255, 0, 149), 0 0 1em rgb(255, 0, 225), 0 0 0.2em rgb(154, 24, 130);

    }

    #sec3 .row {
        margin: 0px;
        padding: 0px;
    }

    #sec3 {
        height: 300px;
    }

    select option {
        font-size: 0.6rem !important;
    }

    #sec2 {
        height: 500px;
    }

    #sec2 h1 {
        font-size: 1rem;
        color: white;
        text-shadow: rgb(255, 0, 0) 1px 0 10px;

    }

    #sec2 #inp {
        width: 100%;
    }

    #sec1 h1 {
        font-size: 1rem;
    }

    #sec1 {
        height: 460px;
    }

    #sec1 h1 {
        line-height: 1.5rem;
        font-size: 1.2rem;
        padding: 1rem;
    }

    #sec1 p {
        font-size: 0.9rem;
        font-weight: 500;
        font-family: 'Poppins';
        padding: 1rem;
        padding-top: 0px;
    }

    .video iframe {
        width: 85%;
        height: 150px !important;
        margin-top: 0px;
        /* box-shadow: -10px 10px 170px 40px rgba(255, 0, 234, 0.8); */
        box-shadow: 0px 0px 10px 5px rgba(255, 0, 234, 0.8);
    }

    #inp label {
        margin-top: 3px;
        font-size: 0.7rem;
    }

    #inp input::placeholder {
        font-size: 0.7rem;
    }

    #inp input {
        text-align: center;
        font-weight: bold;
    }

    #inp .form-select {
        font-size: 0.7rem;
    }

    #inp .btn {
        font-weight: 600;
        padding: 3px;
        font-size: 0.8rem;
        width: 70% !important;
        margin: auto;
        display: block;
    }

    .form-group input {
        padding: 3px;
    }

    .fname,
    .lname {
        width: 49%;
        display: inline-block;
    }

    .ft-items {
        font-size: 0.8rem;
    }

}
