/* #sec1::before{
    content: "";
    background: url("../Images/Onzla.png no-repeat center center/cover");
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
} */
* {
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-item {
    color: yellow;
}

#sec1 {
    color: white;
    background: url(../Images/Onzla\ \(2\).png) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
}

#seclogo {
    width: 10%;
}

.video iframe {
    border-radius: 30px;
    margin-top: 4rem;
    /* height: 400px; */
    margin-left: 8%;
    /* box-shadow:   -70px 10px 170px 40px  rgba(0, 136, 255, 0.8); */
    box-shadow:  -10px 10px 170px 40px  rgba(255, 0, 234, 0.8);
}

#sec1 h1 {
    line-height: 4rem;
    font-size: 3.3rem;
}

#sec1 p {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Poppins';
}
/* 
#sec2 .form {
    display: block;
    margin: auto;
} */

#inp{
    width: 80%;
    margin: auto;
}
#inp label{
    margin-top: 5px;
    font-size: 1.2rem;
}
#inp input::placeholder{
    color: rgb(232, 88, 205);
    text-align: center;
}
#inp input{
    text-align: center;
    /* margin: 6px; */
    /* width: 90%; */
    border-radius: 5px;
    border: none;
    border: 2px solid rgb(214, 213, 207);
    color:rgb(232, 88, 205);
    font-weight:bold;
}
#inp .form-select{
    color: rgb(226, 43, 192);
    text-align: center;
    font-weight:bold;
}
#inp .btn{
    /* background-color:rgb(232, 48, 198); */
    background-image: linear-gradient(to right, rgb(12, 12, 254,0.8), rgba(226, 43, 192,01));
    color: white;
    font-weight: 600;
    padding: 10px;
    border: none;
    font-size: 1.2rem;
    margin: auto;
}
#inp .btn:hover{
    background-image: linear-gradient(to right, rgba(4, 4, 205, 0.8), rgb(227, 3, 186));
}
#sec3 {
    color: white;
    background: url(../Images/sec1.png) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
}

#sec3-text {
    line-height: 3rem;
    font-size: 2.5rem;
    width: 60%;
    margin: auto;
    /* font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: poppins; */
}

#col1 {
    width: 50%;
    box-shadow: -10px 10px 25px rgb(158, 157, 157);
    padding-left: 30px;
    padding-top: 26px;
    height: 27rem;
    border-radius: 5px;
    margin-left: 40px;
}

/* #col1 input, #col1 textarea {
    margin: 6px;
    width: 90%;
    padding: 13px;
    border-radius: 5px;
    border: none;
    border: 2px solid rgb(214, 213, 207); */
    /* height: 55px; */
    /* width: auto; */
/* } */

#col1 input[type=button] {
    /* width: 32%; */
    color: white;
    background-color: hsl(35, 95%, 50%);
    font-weight: bold;
    padding: 13px;
    border: none;
}

#col1 #name,
#col1 #email {
    width: 43%;
}

#sec2 {
    color: white;
    background: url(../Images/Onzla\ \(4\).png) no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    background: url(../Images/Sec3/8.png) no-repeat center center/cover;
}

.social-icon{
    width: 25px;
    margin-left:  5px;
}
footer{
    background-color: rgb(232, 88, 205);
}
.ft-items{
    display: flex;
    justify-content:center;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
}
.ft-items a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}